{% extends 'OperowoMainBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block headline %}
    {% trans from "OperowoUserBundle" %}signin_title{% endtrans %}
{% endblock %}

{% block content %}
    <div class="span8 content">
        {% if error %}
            {{ flash('error', error|trans({}, 'FOSUserBundle')) }}
        {% endif %}

        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="control-group">
                <label class="control-label" for="username">{% trans %}username{% endtrans %}:</label>
                <div class="controls">
                    <input type="text" name="_username" id="username" placeholder="{% trans %}username{% endtrans %}" value="{{ last_username }}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">{% trans %}password{% endtrans %}:</label>
                <div class="controls">
                    <input type="password" name="_password" id="password" placeholder="{% trans %}password{% endtrans %}">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="_remember_me" id="remember_me" value="on"> {% trans %}remember_me{% endtrans %}
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{% trans %}signin{% endtrans %}">

                <a href="{{ path('fos_user_resetting_request') }}">
                    {% trans from "OperowoUserBundle" %}reset_password_link{% endtrans %}
                </a>
                <a href="{{ path('fos_user_registration_register') }}">
                    {% trans from "OperowoUserBundle" %}register_link{% endtrans %}
                </a>
            </div>
        </form>
    </div>
{% endblock %}